positionFixed($top = null, $right = null, $bottom = null, $left = null) // 固定定位
  position: fixed
  top: $top
  right: $right
  bottom: $bottom
  left: $left

positionRelative($top = null, $right = null, $bottom = null, $left = null) // 相对定位
  position: relative
  top: $top
  right: $right
  bottom: $bottom
  left: $left

positionAbsolute($top = null, $right = null, $bottom = null, $left = null) // 绝对定位
  position: absolute
  top: $top
  right: $right
  bottom: $bottom
  left: $left

